	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/07/2018 10:00
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /* font-size: 20px; */
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-computer:before { content: "\f100"; }
.flaticon-share:before { content: "\f101"; }
.flaticon-chat:before { content: "\f102"; }
.flaticon-cube:before { content: "\f103"; }
.flaticon-home:before { content: "\f104"; }
.flaticon-creative-design-1:before { content: "\f105"; }
.flaticon-diagram-1:before { content: "\f106"; }
.flaticon-vector-1:before { content: "\f107"; }
.flaticon-best:before { content: "\f108"; }
.flaticon-redesign:before { content: "\f109"; }
.flaticon-picture:before { content: "\f10a"; }
.flaticon-usb:before { content: "\f10b"; }
.flaticon-cloud-1:before { content: "\f10c"; }
.flaticon-menu:before { content: "\f10d"; }
.flaticon-income:before { content: "\f10e"; }
.flaticon-bug:before { content: "\f10f"; }
.flaticon-cloud:before { content: "\f110"; }
.flaticon-maximize:before { content: "\f111"; }
.flaticon-folders:before { content: "\f112"; }
.flaticon-paper-cup:before { content: "\f113"; }
.flaticon-coding-3:before { content: "\f114"; }
.flaticon-layer:before { content: "\f115"; }
.flaticon-home-page:before { content: "\f116"; }
.flaticon-maps:before { content: "\f117"; }
.flaticon-website-1:before { content: "\f118"; }
.flaticon-404-error:before { content: "\f119"; }
.flaticon-interface:before { content: "\f11a"; }
.flaticon-coding-2:before { content: "\f11b"; }
.flaticon-chip:before { content: "\f11c"; }
.flaticon-speed-test:before { content: "\f11d"; }
.flaticon-worldwide:before { content: "\f11e"; }
.flaticon-data-sharing:before { content: "\f11f"; }
.flaticon-connection:before { content: "\f120"; }
.flaticon-data-flow:before { content: "\f121"; }
.flaticon-video-web:before { content: "\f122"; }
.flaticon-vector:before { content: "\f123"; }
.flaticon-website:before { content: "\f124"; }
.flaticon-local-network:before { content: "\f125"; }
.flaticon-speed:before { content: "\f126"; }
.flaticon-data-storage:before { content: "\f127"; }
.flaticon-video:before { content: "\f128"; }
.flaticon-binary:before { content: "\f129"; }
.flaticon-mobile-web:before { content: "\f12a"; }
.flaticon-flow:before { content: "\f12b"; }
.flaticon-coding-1:before { content: "\f12c"; }
.flaticon-creative-design:before { content: "\f12d"; }
.flaticon-password:before { content: "\f12e"; }
.flaticon-maintenance:before { content: "\f12f"; }
.flaticon-coding:before { content: "\f130"; }
.flaticon-diagram:before { content: "\f131"; }