/* =======================================================
*
* 	Space
*
* ======================================================= */

/* Margin */
.m-0{ margin: 0px; }
.m-10{ margin: 10px; }
.m-15{ margin: 15px; }
.m-20{ margin: 20px; }
.m-25{ margin: 25px; }
.m-30{ margin: 30px; }
.m-35{ margin: 35px; }

/* Margin Top */
.mt-0{ margin-top: 0px; }
.mt-10{ margin-top: 10px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }

/* Margin Bottom */
.mb-0{ margin-bottom: 0px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-50{ margin-bottom: 50px; }

/* Margin Top Bottom */
.mtb-0{ margin-top: 0px; margin-bottom: 0px; }
.mtb-10{ margin-top: 10px; margin-bottom: 10px; }
.mtb-20{ margin-top: 20px; margin-bottom: 20px; }
.mtb-30{ margin-top: 30px; margin-bottom: 30px; }
.mtb-40{ margin-top: 40px; margin-bottom: 40px; }
.mtb-50{ margin-top: 50px; margin-bottom: 50px; }